<launch>

   <!-- <master auto="start"/> -->
   
   <include file="$(find gazebo_gridmapping)/launch/mapping.launch"></include>
   
   <!-- <node name="map_odom_tf_publisher" pkg="gazebo_object_env" type="map_odom_tf_publisher"/>  已经在run_gazebo.launch中运行-->

   <node name="cmdvel_change_gazebo" pkg="gazebo_object_env" type="cmdvel_change_gazebo"/>
   
   <include file="$(find gazebo_object_env)/launch/move_base_config.launch"></include>

   <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gazebo_object_env)/param/my_rviz.rviz" required="true" /> -->

</launch> 